$font_base_name: 'futura-pt', sans-serif;
$font_header_name: 'inter', sans-serif;

$dt_base_font_size: 18px;
$tb_base_font_size: 18px;
$sp_base_font_size: 18px;

$dt_base_line_height: 23px;
$tb_base_line_height: 23px;
$sp_base_line_height: 23px;

$dt_header_font_size: 25px;
$tb_header_font_size: 25px;
$sp_header_font_size: 20px;

$dt_header_line_height: 30px;
$tb_header_line_height: 30px;
$sp_header_line_height: 24px;
