// breackpoints
$sp_bp: 320px;
$tb_bp: 768px;
$dt_bp: 1440px;

$sp_gutter: 0 20px;
$tb_gutter: 0 40px;
$dt_gutter: 0;
$container_max_width: 1244px;

//$level_first: 1;
//$level_content: 2;
//$level_third: 3;
//$level_header: 25;
